<%- include('partials/header'); -%>

    <div class="container my-4">
        <div class="p-5 mb-4 rounded-3">
            <div class="row justify-content-center text-center">
                        <i class="fa-solid fa-person-running mb-4 run-icon"></i>
                        <h1 class="display-5 fw-bold">Workout Tracker</h1>
                        <div class="col-3 mt-4">
                            <a href="/workouts" class="btn btn-dark">All Workouts <i
                                class="fas fa-chevron-circle-right"></i></a>
                        </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>